<h1><%= @theatre.name %></h1>
<div>
    <p>Address: <%= @theatre.address %>, <%= @theatre.city %>, <%= @theatre.province %></p>

    <img src="<%= @theatre.google_static_map_url %>" alt="Map of <%= @theatre.name %>">
</div>