<h1><%= @specie.species_name %></h1>
<div>
    <p>Classification: <%= @specie.classification %></p>
    <p>Average_height: <%= @specie.average_height %></p>
    <p>Skin Color: <%= @specie.skin_color %></p>
    <p>Hair Color: <%= @specie.hair_color %></p>
    <p>Eye Color: <%= @specie.eye_color %></p>
    <p>Average Lifespan: <%= @specie.average_lifespan %></p>
    <p>Language: <%= @specie.language %></p>
    <p>Homeworld: <%= @specie.planet.planet_name %></p>
</div>