<ul>
  <li><%= link_to 'Characters', characters_path %></li>
  <li><%= link_to 'Species', species_index_path %></li>
  <li><%= link_to 'Planets', planets_path %></li>
  <li><%= link_to 'Where could I see these things?', theatres_path %></li>
  <li><%= link_to 'About', about_path %></li>
</ul>