<h1><%= @planet.planet_name %></h1>
<div>
    <p>Diameter: <%= @planet.diameter %></p>
    <p>Climate: <%= @planet.climate %></p>
    <p>Gravity: <%= @planet.gravity %></p>
    <p>Terrain: <%= @planet.terrain %></p>
    <p>Surface Water: <%= @planet.surface_water %></p>
    <p>Population: <%= @planet.population %></p>
    <p>Characters from <%= @planet.planet_name %>:
        <% @planet.characters.each do |character| %>
        <%= character.character_name %>
        <% end %>
    </p>
</div>