<h1><%= @character.character_name %></h1>
<div>
    <p>Height: <%= @character.height %></p>
    <p>Mass: <%= @character.mass %></p>
    <p>Hair Color: <%= @character.hair_color %></p>
    <p>Skin Color: <%= @character.skin_color %></p>
    <p>Eye Color: <%= @character.eye_color %></p>
    <p>Birth Year: <%= @character.birth_year %></p>
    <p>Gender: <%= @character.gender %></p>
    <p>Homeworld: <%= link_to @character.planet.planet_name, planet_path(@character.planet) %></p>
    <% if @character.species %>
        <p>Species: <%= link_to @character.species.species_name, species_path(@character.species) %></p>
    <% else %>
        <p>Species: Unknown</p>
    <% end %>
</div>