<!DOCTYPE html>
<html lang="en">
  <head>
    <title>StefanRubyIntroProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= render 'shared/menu' %>
      <% if current_page?(action: 'index') && !current_page?(controller: 'about') %>
        <form action="<%= request.original_url %>" method="get">
          <input type="text" name="query" placeholder="Search" value="<%= params[:query] %>">

          <% if current_page?(controller: 'characters') %>
            <select name="homeworld" style="height: 200px; overflow-y: auto;">
              <option value="">- search by homeworld -</option>
              <% @homeworlds.each do |homeworld| %>
                <option value="<%= homeworld %>" <%= 'selected' if params[:homeworld] == homeworld %>>
                  <%= homeworld %>
                </option>
              <% end %>
            </select>
            <select name="species" style="height: 200px; overflow-y: auto;">
              <option value="">- search by species -</option>
              <% @species.each do |specie| %>
                <option value="<%= specie %>" <%= 'selected' if params[:species] == specie %>>
                  <%= specie %>
                </option>
              <% end %>
            </select>
          <% end %>

          <% if current_page?(controller: 'species') %>
            <select name="homeworld" style="height: 200px; overflow-y: auto;">
              <option value="">- search by homeworld -</option>
              <% @homeworlds.each do |homeworld| %>
                <option value="<%= homeworld %>" <%= 'selected' if params[:homeworld] == homeworld %>>
                  <%= homeworld %>
                </option>
              <% end %>
            </select>
          <% end %>

          <input type="submit" value="Search">
        </form>

        <form action="<%= request.original_url %>" method="get">
          <input type="submit" value="Reset">
        </form>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>