<!DOCTYPE html>
<html lang="en">
  <head>
    <title>StefanRubyIntroProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= render 'shared/menu' %>
        <div class="top-level-search">
          <% if current_page?(action: 'index') && !current_page?(controller: 'about') %>
            <div class="top-level-search">
              <form action="<%= request.original_url %>" method="get" class="search-form">
                <div class="control">
                  <input class="input" name="query" type="text" placeholder="Search" value="<%= params[:query] %>">
                </div>
                  <% if current_page?(controller: 'characters') %>
                    <select class="select" name="homeworld" style="height: 200px; overflow-y: auto;">
                      <option value="">- search by homeworld -</option>
                      <% @homeworlds.each do |homeworld| %>
                        <option value="<%= homeworld %>" <%= 'selected' if params[:homeworld] == homeworld %>>
                          <%= homeworld %>
                        </option>
                      <% end %>
                    </select>
                    <select class="select" name="species" style="height: 200px; overflow-y: auto;">
                      <option value="">- search by species -</option>
                      <% @species.each do |specie| %>
                        <option value="<%= specie %>" <%= 'selected' if params[:species] == specie %>>
                          <%= specie %>
                        </option>
                      <% end %>
                    </select>
                  <% end %>

                  <% if current_page?(controller: 'species') %>
                    <select class="select" name="homeworld" style="height: 200px; overflow-y: auto;">
                      <option value="">- search by homeworld -</option>
                      <% @homeworlds.each do |homeworld| %>
                        <option value="<%= homeworld %>" <%= 'selected' if params[:homeworld] == homeworld %>>
                          <%= homeworld %>
                        </option>
                      <% end %>
                    </select>
                  <% end %>
                  <button type="submit" class="button is-primary" style="background-color: rgb(41, 33, 33);;">
                    Search
                  </button>
                </form>
              </div>
              <div>
                <form action="<%= request.original_url %>" method="get">
                    <button type="submit" class="button is-secondary">
                      Reset
                    </button>
                </form>
              </div>
          <% end %>
        </div>
    </header>
    <%= yield %>
  </body>
</html>